@import "../../_globalColor";

.contact-div-main {
  display: flex;
}

.dark-mode a {
  color: $textColorDark;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  font-size: 65px;
  font-weight: 400;
  margin-top: -5rem
}

.contact-detail,
.contact-detail-email {
  margin-top: 0px;
  font-size: 40px;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
  margin-left: 0rem
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-margin-top {
  margin-top: 4rem;
}

.contact-image-div > img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}

.contact-image-div img {
  width: 60%;
  max-width: 550px;
}

/* Media Query */
@media (max-width: 1380px) {
  .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
  }

  .contact-title {
    font-size: 40px;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  .contact-image-div > img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
  }
  
  .contact-image-div img {
    width: 60%;
    max-width: 80px;
  }
}

@media (max-width: 768px) {
  .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
  }

  .contact-title {
    font-size: 40px;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  .contact-image-div > img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
  }
  
  .contact-image-div img {
    width: 35%;
    max-width: 80px;
  }
}


/* Media Query */
@media (max-width: 1600px) {
  .contact-title {
    font-size: 40px;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
  }

  .contact-text-div {
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  .contact-image-div img {
    width: 60%;
    max-width: 480px;
  }
}